<!DOCTYPE html>
<html>
<head>
    <title>Liquid Express</title>
</head>
<body>
    <h1>Hello, My name is {{name}}!</h1>
    <p>This website is created with {{TemplateName}} 😄</p>
</body>
</html>